<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/AboutUs_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Helvetica&display=swap"
          rel="stylesheet">
</head>
<body>
<div id="nav">
    {% include 'nav.html' %}
</div>
<h1>About Us</h1>
<p class="text1">课程名称：信息安全导论<br>
    项目名称：S-AES算法程序实现
</p>
<p class="text2">项目成员：虞家帆、陈伟哲<br>
    项目目标：学习S-AES算法流程，并用编程语言实现S-AES算法。</p>
</body>
</html>