<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S-AES</title>
    <link rel="stylesheet" href="/static/css/Index_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
          rel="stylesheet">
</head>
<body>
<div id="nav">
    {% include 'nav.html' %}
</div>
<h1>Introduction</h1>
<p> 高级加密标准（英语：Advanced Encryption Standard，缩写：AES），
    又称Rijndael加密法（荷兰语发音：[ˈrɛindaːl]，音似英文的“Rhine doll”），
    是最常见的对称加密算法。 这个标准用来替代原先的DES，已经被多方分析且广为全世界所使用。
    S-AES是对AES的简化版本，用于帮助学习者更好地了解AES的工作原理。</p>
<a href="/static/pdfs/S-AES.pdf" download="download" class="Link1">点击了解算法更多的相关信息。</a>

</body>
</html>